<!--The content below is only a placeholder and can be replaced.-->
<div [ffAccordion]="index === 0" class="myAccordion" [disabled]="index === 0"
     (expanded)="index=0">
  <p class="myAccordionBtn"><span class="chevron"></span> Multiple accordion 1</p>
  <div class="myAccordionContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam architecto asperiores autem dicta
      omnis perferendis quisquam voluptatum. Ab at cum debitis dolores explicabo fugit nam quibusdam rem tempora,
      voluptatibus?</p>
  </div>
</div>

<div [ffAccordion]="index === 1" class="myAccordion" [disabled]="index === 1"
     (expanded)="index=1">
  <p class="myAccordionBtn"><span class="chevron"></span> Multiple accordion 2 </p>
  <div class="myAccordionContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam architecto asperiores autem dicta
      omnis perferendis quisquam voluptatum. Ab at cum debitis dolores explicabo fugit nam quibusdam rem tempora,
      voluptatibus?</p>
  </div>
</div>

<div [ffAccordion]="index === 2" class="myAccordion" [disabled]="index === 2"
     (expanded)="index=2">
  <div class="myAccordionBtn"><span class="chevron"></span> Multiple accordion 3</div>
  <div class="myAccordionContent">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam architecto asperiores autem dicta
      omnis perferendis quisquam voluptatum. Ab at cum debitis dolores explicabo fugit nam quibusdam rem tempora,
      voluptatibus?</p>
  </div>
</div>

<div ffAccordion class="myAccordion">
  <div class="someWrapper">
    <span>Lorem</span>
    <span>Ipsum</span>
    <span class="myAccordionBtn" #trigger>Trigger</span>
  </div>
  <ul class="myAccordionContent">
    <li><a href="#1">item 3-1</a></li>
    <li><a href="#2">item 3-2</a></li>
    <li><a href="#3">item 3-3</a></li>
    <li><a href="#4">item 3-4</a></li>
  </ul>
</div>


<div ffAccordion class="myAccordion" #myVar="ffAccordion">
  <div class="myAccordionBtn"><span class="chevron"></span> Single accordion</div>
  <ul class="myAccordionContent">
    <li><a href="#1">item 1</a></li>
    <li><a href="#2">item 2</a></li>
    <li><a href="#3">item 3</a></li>
    <li><a href="#4">item 4</a></li>
  </ul>
</div>
<button (click)="myVar.toggle()">toggle single accordion</button>
